<nav class="z-depth-1">
	<div id="logo-container">
		<img src="../../../assets/images/travel_Greatwall-128.png" alt="" id="logo">
	</div>
	<div id="user"></div>
	<div id="search">
		<div class="search-wrapper">
			<input type="text" id="search" placeholder="Search">
			<button type="submit"><i class="material-icons">search</i></button>
		</div>
	</div>
	<div id="control-panel">
		<ul>
			<li>
				<a href="" class="waves-effect waves-purple bold">
					Rising
				</a>
			</li>
			<li>
				<a href="" class="waves-effect waves-purple bold">
					Browse
				</a>
			</li>
		</ul>
	</div>
	<div id="tag-table">
		<p>Popular tags</p>
	</div>
</nav>